*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    max-width: 1600px;
}

/* import link */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* import link */
header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    width: 1600px;
    height: 808px;
    position: relative;
    
}

.header-text-container h1{
    position: absolute;
    width: 525px;
    height: 228px;
    margin: 196px 230px 364px 845px;
    font-size: 65px;
    font-weight: bold;
    text-align: right;
}
.header-text-container p{
    position: absolute;
    width: 494px;
    height: 78px;
    margin: 472px 230px 262px 876px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-align: right;
}
.header-text-container button{
    position: absolute;
    width: 160px;
    height: 64px;
    border: none;
    background: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 578px 230px 166px 1210px;
}

/* hero-area */

#hero-area{
    width: 100vw;
    height: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-container{
    /* width: 569px;
    height: 724px; */
    width: 527px;
    height: 527px;

    margin: 186px 87px 130px 204px;

    background-color:#F15B22;
    border-radius: 50%;
}


.text-container{
    width: 416px;
    height: 400px;
    margin: 370px 322px 215px 87px;
}

.text-container h2{
    width: 288px;
    height: 94px;
    /* margin: 370px 450px 520px 87px; */
    margin: 0 128px 24px 0;
    font-size: 40px;
    font-weight: bold;
}
.text-container p{
    width: 416px;
    height: 104px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
}

.check-container{
    width: 349px;
    height: 162px;
    margin: 16px 67px 0 0;
    /* background: #e1dede; */
    text-align: center;
}
.check-text-container{
    width: 349px;
    height: 26px;
    display: flex;
    
}

.check-text-container p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}
.check-container .check-text-container .check{
    color: #16D887;
}